@import "tailwindcss";

@theme inline {
  /* Farben */
  --color-bg: #343434;
  --color-bg-light: #3d3d3d;
  --color-fg: #ededed;
  --color-accent: #fce531;
  --color-success: #4ade80;
  --color-error: #ef4444;
}

body {
  background: var(--color-bg);
  color: var(--color-fg);
  font-family: Arial, Helvetica, sans-serif;
}