spring:
  application:
    name: demo

  datasource:
    url: jdbc:postgresql://localhost:5432/meinedb
    username: meinuser
    password: meinpasswort
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update

  servlet:
    multipart:
      max-file-size: 200MB
      max-request-size: 200MB

  ai:
    openai:
      api-key: sk-3LGN0Yu3GsMNhofADG9H2A
      base-url: https://api.edeka.digital/ai-dev-models/gen/oai
      model: gemini-2.0-flash
      system-prompt: >
        You are a system for offer recognition. Extract all promotional items from the uploaded PDF and
        return them as JSON objects. Only include the following exact fields:
  
        productName,
        storeName,
        brand,
        quantity,
        price,
        originalPrice,
        offerDateStart
        offerDateEnd,
        Important Notes:
        Always return all date values in the DD.MM.YYYY format.
        If a product does not have a date listed directly next to the price, 
        it is still possible that a group-level date applies to a set of products. In that case, apply the overarching date to all relevant items.
        If there is no year provided, assume the current year.
      user-prompt: >
        Please extract all offers from the file and return them as a list of JSON objects including
        productName,storeName, brand, quantity, price, originalPrice, offerDateStart and offerDateEnd.

logging:
  level:
    reactor.netty.http.client: DEBUG
    org.springframework.web.reactive.function.client: DEBUG

server:
  tomcat:
    max-swallow-size: 209715200
    max-http-form-post-size: 209715200


